:root {
    --satu: #212529; --tiga: #dddbdb;
    --dua: #ffa500;  --empat: #fff;
}
/* custom class fx */
.bayangan{
    box-shadow: 2px 2px 2px 2px #33333338;
}
/* custom class fx */
.nv-list{
    font-size:23px;
    border: 1px solid #ccc;
    padding: 10px;
}
.nv-list span{
    float:right;
}
.nv-list a{
    background: #878c90;
    padding: 5px 10px;
    font-size: 18px;
    color:#fff;
}
.n-sidebar {
    background: var(--satu);
    min-height: 100vh;
    width: 300px;
    padding: 0;
    transition: all .3s;
    color: var(--empat);
}
.n-sidebar .menu{
    overflow-y: scroll;
    height: calc(100% - 60px);
    position: inherit;
}
.n-sidebar .n-bar{
    background: var(--dua);
}
.n-bar h4{
    display: inline;
    color: #333;
    padding-left: 10px;
}
.n-sidebar h3{
    border-bottom: 5px solid;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
}
.n-sidebar .menu li {
    list-style: none;
    border-bottom: 1px solid #ffffff38;
    font-size: 18px;
    transition: all .3s;
}
.n-sidebar li.active{
    background: var(--tiga);
}
.n-sidebar .menu li:hover {
    background: var(--tiga);
    padding-left:50px;
}
.n-sidebar .menu li a {
    text-decoration: none;
    color: var(--empat);
    padding: 15px;
    display: block;
}

.n-sidebar .menu li:hover a, .n-sidebar li.active a{
    color:var(--satu);
}



.n-sidebar .menu i {
    padding: 10px;
    background: var(--dua);
    color: var(--satu);
    border-radius: 100%;
    margin-right: 20px;
}

.n-body {
    background: #c2c2c22b;
    overflow-y: auto;
    width: calc(100% - 300px);
    padding: 0;
    position: absolute;
    right: 0;
}

.n-bar {
    background: var(--tiga);
    color: var(--satu);
    padding: 10px;
    height: 60px;
    display: flex;
}

.n-tbar {
    position: fixed;
    right: 0;
    z-index: 9;
    width: inherit;
    box-shadow: 3px 3px 3px 3px #33333345;
}

.n-nav {
    width: 100%;
    display: flex;
}

.n-nav .menu, .n-mbtn {
    margin-left: 15px;
    cursor: pointer;
    padding: 8px 10px;
    color: #0c0c0c;
    text-decoration: none;
}
.n-nav .menu:hover, .n-mbtn:hover{
    background: #0e0e0e1f;
}
.n-mbtn {
    display: none;
}

.n-content {
    padding: 100px 50px 50px;
    background: #e2e2e2;
}

.n-footer {
    padding: 30px;
    text-align: center;
}

.sshow {
    left: 0px;
}

.bshow {
    filter: none;
}

.n-close {
    float: right;
    position: absolute;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .n-mbtn {
        display: block;
    }

    .n-sidebar {
        left: -500px;
    }

    .n-body {
        width: 100%;
    }

    .sshow {
        left: 0;
    }

    .bshow {
        filter: blur(10px);
    }

    .n-close {
        display: block;
    }
}

@media (max-width: 541px) {
    .n-content {
        padding: 80px 0px;
    }
    .nmenu .btn{
        margin:3px;
    }
}

/* css tambahan njastools */
.onloading {
    overflow: hidden;
    padding-right: 17px !IMPORTANT;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1111;
    background: #0000005c;
}

.loading-njas {
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 50vh;
}

.fa-spin {
    font-size: 20px;
}

.njas-file {
    background: rgb(0 123 255 / 25%);
    height: 120px;
    border: 3px dashed rgb(0 123 255 / 50%);
}

.njas-file input {
    height: 100%;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    left: 0;
}

.njas-file div {
    position: absolute;
    left: calc(50% - 74px);
    top: calc(50% - 19px);
}


  .n-mbtn {
        display: block;
    }

    .n-sidebar {
        left: -500px;
    }

    .n-body {
        width: 100%;
    }

    .sshow {
        left: 0;
    }

    .bshow {
        filter: blur(10px);
    }

    .n-close {
        display: block;
    }

    .n-table {
        font-size: 12px
    }

    th { font-size: 12px; }
td { font-size: 10px; }
