/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
    /*padding-top: 55px;*/
 }

a, [oren]{ color: orange;}
[merah]{ color: red;}
b:hover, a:hover{
    font-weight: bold;
    color: #9f6906;
}
nav, .sidebar-nav{
    transition: all .5s;
}
.n-cari{
    width: 300px;
    margin-left: auto;
    max-width: 100%;
}
.n-cari div{
    margin-left: -52px;
    color: #333;
    cursor: pointer;
    padding: 10px 20px;
}
/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 55px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav .active a{
    color: orange;
    border-left: 3px solid orange;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-bottom: .1px solid #565656;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: 3px solid orange;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/*PRE-CODE*/
  	.pre-wrapper{
	position:relative;
}

.pre-wrapper .copy-snippet {
	border-radius: 7px;
	min-width:55px;
	border: 1px solid #bbb;
	font-family: 'HELEVETICA',sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42rem;
	margin: 0;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	position:absolute;
	background:#ccc;
	top:10px;
	right:10px;
	
	color: #fff;
    padding: 10px;
    background: #02020287;
    transition: all .5s;
    opacity: 0;
    cursor: pointer;
}
.pre-wrapper .copy-snippet:disabled{
	color:#555;
}
pre{border-left: 10px solid orange;padding:.5em 1em;margin:.5em 0;white-space:pre;word-wrap:normal;overflow:auto;background-color:#1B2426;border-radius:6px}
code{font-family:Consolas,Monaco,'Andale Mono','Courier New',Courier,Monospace;line-height:16px;color:#fff;background-color:#eee;border:1px solid #ddd;padding:1px 2px;
    color: #333;
}
pre code{display:block;background:none;border:none;color:#B9BDB6;direction:ltr;text-align:left;word-spacing:normal;padding:10px;margin:10px}
.pre-wrapper:hover .copy-snippet{
    opacity: 1;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}